// COLORS
$color-primary: #00c59b;
$color-primary-light: #00e0af;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-red: #ff0000;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;